###Lists in Python

#####1 - write a program which takes single input from user contaning first name,last name and age as comma separated value and display then in 3 lines in given format below.

example user input : Rohish,Zade,27

Output:
- First name is Rohish
- last name is Zade
- Ankit is 27 years old

note : do not hardcode name at any place

In [0]:
user_input = input("Enter the first name, last name and age (comma-separated): ")
first_name, last_name, age = user_input.split(",")
print(f"First name is {first_name}\nLast name is {last_name}\nRohish is {age} years old")

#Note how we can assign each element of list to 3 different variables with direct assignment. The number of variables and and length of list should be same. this is also known as unpacking and it works with tuples as well 

# Alternatively we can do using indexing 
# input_list=user_input.split(',')
# first_name = input_list[0]
# last_name = input_list[1]
# age = input_list[2]

Enter the first name, last name and age (comma-separated):  Rohish,Zade,27

First name is Rohish
Last name is Zade
Rohish is 27 years old

#####2- given 2 list as list1= [1,3,4] and list2 = [2,4,6]

combined the 2 list and diplay the same without using extend method

In [0]:
list1= [1,3,4]
list2 = [2,4,6]

list3 = list1 + list2
print(list3)

[1, 3, 4, 2, 4, 6]

#####3 - given a list list1=[1,2,3,4,5,6,7,8]
diplay a new list which contains only odd position index values from above list.

In [0]:
list1=[1,2,3,4,5,6,7,8]

odd_position_values = list1[1::2]
print(odd_position_values)


# solution 2: using loops 
# odd_position_values = []
# for i in range(len(list1)):
#     if i % 2 != 0:
#         odd_position_values.append(list1[i])
# print("New list with odd position values:", odd_position_values)

[2, 4, 6, 8]

#####4 - ipl= ['CSK','MI','KKR','LSG','PBKS']

take a ipl team name as input from user and display a list of all elements from that name.

example :
- input : KKR
- output : ['KKR','LSG','PBKS']

In [0]:
ipl= ['CSK','MI','KKR','LSG','PBKS']

user_input = input("Enter your IPL team name from the list ['CSK','MI','KKR','LSG','PBKS']: ")

output = ipl[ipl.index(user_input):]
print(output)

Enter your IPL team name from the list ['CSK','MI','KKR','LSG','PBKS']:  KKR

['KKR', 'LSG', 'PBKS']

#####5 - ipl= ['CSK','MI','KKR','LSG','PBKS']

take a ipl team name as input from user and display a list of all elements except input one

example : 
- input : KKR
- output : ['CSK','MI','LSG','PBKS']

In [0]:
ipl= ['CSK','MI','KKR','LSG','PBKS']

user_input = input("Enter your IPL team name from the list ['CSK','MI','KKR','LSG','PBKS']: ")

ipl_teams = ipl.copy()
ipl_teams.remove(user_input)

print(ipl_teams)

Enter your IPL team name from the list ['CSK','MI','KKR','LSG','PBKS']:  KKR

['CSK', 'MI', 'LSG', 'PBKS']

#####6 - ipl= ['CSK','MI','KKR','LSG','PBKS']
take a user input contains 2 comma seprated values index,new_team . replace the index element of list with new value and display the same

example : 
- input : 2,SRH
- output : ['CSK','MI','SRH','LSG','PBKS']

In [0]:
ipl= ['CSK','MI','KKR','LSG','PBKS']

user_input = input("Enter index and IPL team (comma separated): ").split(",")

index = int(user_input[0])
team = user_input[1]
ipl[index] = team

print("Updated list:", ipl)

Enter index and IPL team (comma separated):  2,SRH

Updated list: ['CSK', 'MI', 'SRH', 'LSG', 'PBKS']

#####7 - ipl= ['CSK','MI','KKR','LSG','PBKS']
take ipl team name as user input. display True if the team exists else display False.

In [0]:
ipl= ['CSK','MI','KKR','LSG','PBKS']

team_name = input("Enter IPL team name: ")

team_exists = team_name in ipl
print(team_exists)

Enter IPL team name:  PCB

False

#####8 - ipl= ['CSK','MI','KKR','LSG','PBKS']
take a user input contains 2 comma seprated values index,new_team . Add the new value at that index in the list. 
Display the old list , new list,length of original and new list

example : 
- input : 2,SRH

output : 
- old list : ['CSK','MI','KKR','LSG','PBKS'] and length 5
- new list : ['CSK','MI','SRH','KKR',LSG','PBKS'] and length 6

In [0]:
ipl= ['CSK','MI','KKR','LSG','PBKS']

index, team_name = input("Enter index and IPL team (comma separated): ").split(",")

new_team = ipl.copy()
new_team.insert(int(index),team_name)

print(f"old list : {ipl} and length {len(ipl)}")
print(f"new list : {new_team} and length {len(new_team)}")

Enter index and IPL team (comma separated):  2,SRH

old list : ['CSK', 'MI', 'KKR', 'LSG', 'PBKS'] and length 5
new list : ['CSK', 'MI', 'SRH', 'KKR', 'LSG', 'PBKS'] and length 6