## Pandas Day 3 Assignment
using **orders.txt** and **returns.txt** dataset for below problems

In [0]:
import pandas as pd

In [0]:
# orders dataframe
df1 = pd.read_csv('orders.txt')
df1

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492

In [0]:
# returns dataframe
df2 = pd.read_csv('returns.txt')
df2

,order_id,return_reason
0,CA-2020-104689,Wrong Items
1,CA-2020-105081,Wrong Items
2,CA-2020-105291,Wrong Items
3,CA-2020-105585,Wrong Items
4,CA-2020-106950,Wrong Items
...,...,...
291,US-2021-136679,Others
292,US-2021-147886,Others
293,US-2021-147998,Wrong Items
294,US-2021-151127,Wrong Items
295,US-2021-155999,Wrong Items

#### 1. write a program to get category wise sales of orders that were not returned

In [0]:
# Merge the orders and returns datasets based on the order_id
join_df = pd.merge(df1, df2, how='left', on='order_id')

# Filter out the orders that were not returned
not_return_df = join_df[join_df['return_reason'].isnull()]

# Calculate the category-wise sales of non-returned orders
category_sales = not_return_df.groupby('category')['sales'].sum()
category_sales

Out[12]: category
Furniture          582901.5289
Office Supplies    284516.2270
Technology         174630.6580
Name: sales, dtype: float64

#### 2. write a program to get city wise count of return orders

In [0]:
join_df = pd.merge(df1, df2, how='inner', on='order_id')
city_return_count = join_df['city'].value_counts()
# city_return_count

print(city_return_count)

Los Angeles         50
Seattle             25
San Francisco       24
New York City       11
San Diego            9
                    ..
Bartlett             1
Boise                1
Colorado Springs     1
Medina               1
Pharr                1
Name: city, Length: 119, dtype: int64

#### 3. write a program to print cities where we have all 3 kinds of returns (others,bad quality,wrong items)

In [0]:
join_df = pd.merge(df1, df2, how='inner', on='order_id')

city_return_ucounts = join_df.groupby('city')['return_reason'].nunique()
city_return_ucounts[city_return_ucounts.values > 1]

Out[14]: city
Chicago          2
Columbus         2
Costa Mesa       2
Denver           2
Fairfield        2
Houston          2
Jackson          2
Lakewood         2
Los Angeles      3
Lowell           2
New York City    3
Oakland          2
Pasadena         2
San Diego        2
San Francisco    2
Seattle          2
Springfield      2
Name: return_reason, dtype: int64

#### 4. write a program to find cities where not even a single order was returned.

In [0]:
join_df = join_df = pd.merge(df1, df2, how='left', on='order_id')

city_return = join_df.groupby('city')['return_reason'].count()
city_return[city_return.values==0]

Out[20]: city
Aberdeen      0
Abilene       0
Akron         0
Alexandria    0
Allen         0
             ..
Woodstock     0
Woonsocket    0
Yonkers       0
Yucaipa       0
Yuma          0
Name: return_reason, Length: 412, dtype: int64

#### 5- write a program to find top 3 cities by sales

In [0]:
city_sales = df1.groupby('city')['sales'].sum()
city_sales.sort_values(ascending=False).head(3)

# df1.groupby('city')['sales'].sum().sort_values(ascending=False).head(3)

Out[29]: city
New York City    115073.919
Los Angeles       79663.299
San Francisco     52590.648
Name: sales, dtype: float64

#### 6. write a program to get order ids whos return reason is not known (nan)

In [0]:
df2[df2['return_reason'].isna()]

# join_df = pd.merge(df1, df2, how='inner', on='order_id')
# join_df[join_df['return_reason'].isnull()]

,order_id,return_reason
11,CA-2020-114307,NaN
29,CA-2020-133368,NaN
107,CA-2018-105270,NaN
142,CA-2018-164721,NaN
149,CA-2019-105158,NaN

#### 7. write a program to fill unknown return reason to a default value 'others'

In [0]:
df2['return_reason'].fillna(value='Others', inplace=True)
df2

,order_id,return_reason
0,CA-2020-104689,Wrong Items
1,CA-2020-105081,Wrong Items
2,CA-2020-105291,Wrong Items
3,CA-2020-105585,Wrong Items
4,CA-2020-106950,Wrong Items
...,...,...
291,US-2021-136679,Others
292,US-2021-147886,Others
293,US-2021-147998,Wrong Items
294,US-2021-151127,Wrong Items
295,US-2021-155999,Wrong Items

#### 8. write a program to find avg sales and avg profit for each category

In [0]:
df1.groupby('category').agg({'sales':'mean', 'profit':'mean'})

,sales,profit
category,,
Furniture,356.212758,9.813403
Office Supplies,107.680040,18.906134
Technology,382.705186,75.452770