## Sets in Python

- In Python, a set is an unordered collection of unique elements.
- Sets are mutable, meaning you can add or remove elements, but the elements themselves must be immutable (e.g., numbers, strings, or tuples).
- Sets are commonly used for membership testing, removing duplicates, and performing mathematical operations like unions, intersections, and differences.

### Properties of a Set
- **Unordered:** Sets do not maintain any specific order.
- **Unique Elements:** No duplicates are allowed.
- **Mutable:** You can add or remove elements.
- **Unindexed:** Elements cannot be accessed via index.

### Creating a Set
You can create a set in Python using curly braces `{}` or the built-in `set()` function.

In [5]:
# Using curly braces
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [8]:
# Using the set() function
my_set2 = set([1, 2, 3, 5, 6, 3, 4]) # it will remove duplicates from list when we create as et
print(my_set2)

{1, 2, 3, 4, 5, 6}

**Note: Duplicate values are automatically removed.**

### Adding Elements to a Set
You can add elements using `add()` or multiple elements using `update()`.

In [13]:
# using add()
laliga_teams = {"Barcelona", "Real Madrid", "Athletico Madrid"}

# adding a single element
laliga_teams.add("Girona")
print(laliga_teams)

{'Athletico Madrid', 'Barcelona', 'Real Madrid', 'Girona'}

In [15]:
# using update: Adding multiple elements
laliga_teams.update(["Getafe", "Valencia", "Sevilla"])
print(laliga_teams)

{'Valencia', 'Real Madrid', 'Girona', 'Getafe', 'Sevilla', 'Athletico Madrid', 'Barcelona'}

### Removing Elements from a Set

#### Methods to remove elements:
- **remove(element):** Removes the element but raises an error if not found.
- **discard(element):** Removes the element but does not raise an error if not found.
- **pop():** Removes a random element.
- **clear():** Removes all elements.

In [16]:
s = {1, 2, 3, 4}

s.remove(2)  
print(s)  # Output: {1, 3, 4}

s.discard(5)  # No error even though 5 is not in the set

s.pop()  # Removes a random element
print(s)

s.clear()  # Removes all elements
print(s)  # Output: set()

{1, 3, 4}
{3, 4}
set()

In [19]:
s.remove(3) #  raises an error as 3 is not present in the set

KeyError: 3

### Frozen Set (Immutable Set)
A frozenset is an immutable version of a set.

In [23]:
fs = frozenset([1, 2, 3, 4])
print(fs)

# fs.add(5)  # This will raise an AttributeError as frozenset in immutable

frozenset({1, 2, 3, 4})

In [24]:
fs.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

###  Set Comprehension
You can create sets using comprehension.

In [25]:
squared_numbers = {x**2 for x in range(5)}
print(squared_numbers)  # Output: {0, 1, 4, 9, 16}

{0, 1, 4, 9, 16}

### Set Operations (Mathematical Operations)
Python sets support operations like union, intersection, difference, and symmetric difference.

#### (i) Union (| or union())
Combines all unique elements from both sets.

In [27]:
A = {1, 2, 3}
B = {3, 4, 5}

print(A | B)  # Output: {1, 2, 3, 4, 5}
print(A.union(B))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
#### (ii) Intersection (& or intersection())
Finds common elements between two sets.