In [ ]:
import pandas as pd

### Concat or Union Operation in Pandas
- In Pandas, you can combine or concatenate DataFrames using union-like operations, which are performed using the concat() function or the append() method. 
- These operations are similar to SQL UNION and allow you to stack DataFrames either vertically (row-wise) or horizontally (column-wise).

In [ ]:
# creating df1
emp= {"name":["Rohish","Rahul","Priya"],"gender":["Male","Male","Female"], "email":["rohish@gmail.com","rahul@gmail.com","priya@gmail.com"] }
df1 = pd.DataFrame(emp)
df1

,name,gender,email
0,Rohish,Male,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com

In [ ]:
# creating df2
emp= {"name":["Pankaj","Sumit"],"gender":["Male","Male"], "email":["Pankaj@gmail.com","Sumit@gmail.com"] }
df2 = pd.DataFrame(emp)
df2

,name,gender,email
0,Pankaj,Male,Pankaj@gmail.com
1,Sumit,Male,Sumit@gmail.com

#### Vertical Concatenation (Row-wise)
This operation is similar to a SQL UNION ALL where you stack DataFrames on top of each other.

In [ ]:
# union / appending 2 dataframes
pd.concat([df1, df2])
pd.concat([df1, df2], axis=0) # by default axix = 0

,name,gender,email
0,Rohish,Male,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
0,Pankaj,Male,Pankaj@gmail.com
1,Sumit,Male,Sumit@gmail.com

In [ ]:
# By default, the index is preserved. To ignore the index and reset it, you can use: ignore_index=True
pd.concat([df1, df2], ignore_index=True)

,name,gender,email
0,Rohish,Male,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Pankaj,Male,Pankaj@gmail.com
4,Sumit,Male,Sumit@gmail.com

##### Using append() for Vertical Concatenation
You can also use the append() method for vertical concatenation.

In [ ]:
df1.append(df2, ignore_index=True)

<command-3214408560656903>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2, ignore_index=True)

,name,gender,email
0,Rohish,Male,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Pankaj,Male,Pankaj@gmail.com
4,Sumit,Male,Sumit@gmail.com

#### Horizontal Concatenation (Column-wise)
This operation aligns DataFrames side by side (like a SQL JOIN without a key).

In [ ]:
pd.concat([df1, df2], axis=1)

,name,gender,email,name,gender,email
0,Rohish,Male,rohish@gmail.com,Pankaj,Male,Pankaj@gmail.com
1,Rahul,Male,rahul@gmail.com,Sumit,Male,Sumit@gmail.com
2,Priya,Female,priya@gmail.com,NaN,NaN,NaN

In [ ]:
pd.concat([df1, df2], axis=1, ignore_index=True)

,0,1,2,3,4,5
0,Rohish,Male,rohish@gmail.com,Pankaj,Male,Pankaj@gmail.com
1,Rahul,Male,rahul@gmail.com,Sumit,Male,Sumit@gmail.com
2,Priya,Female,priya@gmail.com,NaN,NaN,NaN

### Dropping Duplicate Values
Pandas provides the drop_duplicates() function to accomplish this.

**Basic Syntax**:

**`df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)`**

- **subset**: Specifies which columns to consider for identifying duplicates. ***If None, all columns are used.***
- **keep**: Determines which duplicates to keep. Options are:
  - `first`: Keep the first occurrence of a duplicate row (default).
  - `last`: Keep the last occurrence of a duplicate row.
  - `False`: Drop all duplicate rows.
- **inplace**: If True, performs operation in place and modifies the DataFrame directly. If False, returns a new DataFrame.
- **ignore_index**: If True, the resulting DataFrame will reset the index.

In [ ]:
# Sample DataFrame
emp= {"name":["Rohish","Rahul","Priya","Vicky","Rahul"],"gender":["Male","Male","Female","Male","Male"], "email":["rohish@gmail.com","rahul@gmail.com","priya@gmail.com","rohish@gmail.com","rahul@gmail.com"] }
df = pd.DataFrame(emp)
df

,name,gender,email
0,Rohish,Male,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Vicky,Male,rohish@gmail.com
4,Rahul,Male,rahul@gmail.com

##### Dropping Duplicates Across All Columns

In [ ]:
df.drop_duplicates()

,name,gender,email
0,Rohish,Male,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Vicky,Male,rohish@gmail.com

#### Dropping Duplicates Based on Specific Columns
If you want to drop duplicates based on specific columns, use the subset parameter:

In [ ]:
df.drop_duplicates(subset='email')

,name,gender,email
0,Rohish,Male,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com

In [ ]:
# Keeping the Last Occurrence: by default it will be first
# df.drop_duplicates(subset='email', keep='first')
df.drop_duplicates(subset='email', keep='last')

,name,gender,email
2,Priya,Female,priya@gmail.com
3,Vicky,Male,rohish@gmail.com
4,Rahul,Male,rahul@gmail.com

In [ ]:
df.drop_duplicates(subset = ['email','gender'] , keep = 'first')

,name,gender,email
0,Rohish,Male,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com

In [ ]:
# if keep=False the it will grop all duplicate rows
df.drop_duplicates(subset = 'email' , keep = False)

,name,gender,email
2,Priya,Female,priya@gmail.com

In [ ]:
# fnding duplicates in df
dfg= df.groupby('email')['name'].count()
dfg[dfg.values>1]

Out[32]: email
rahul@gmail.com     2
rohish@gmail.com    2
Name: name, dtype: int64

### Handling NaN (Not a Number) values
Pandas provides several methods to manage NaN values, depending on your specific needs.

In [ ]:
# Sample Dataframe
import numpy as np
emp= {"name":["Rohish","Rahul","Priya",'Smit',np.nan],"gender":[np.nan,"Male","Female",np.nan,np.nan ], "email":["rohish@gmail.com","rahul@gmail.com","priya@gmail.com",np.nan,np.nan] }
df = pd.DataFrame(emp)
df

,name,gender,email
0,Rohish,NaN,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Smit,NaN,NaN
4,NaN,NaN,NaN

#### Detecting NaN Values
- You can detect NaN values in a DataFrame using the isnull() or isna() functions. 
- These functions return a DataFrame of the same shape as the original, with True where NaN values are present.

In [ ]:
df.isnull()
df.isna()

,name,gender,email
0,False,True,False
1,False,False,False
2,False,False,False
3,False,True,True
4,True,True,True

In [ ]:
# returns the rows where gender is nan
df[df['gender'].isna()]

,name,gender,email
0,Rohish,NaN,rohish@gmail.com
3,Smit,NaN,NaN
4,NaN,NaN,NaN

#### Dropping NaN Values
You can remove rows or columns containing NaN values using the dropna() function.

##### Dropping Rows with NaN Values

In [ ]:
# Drop rows with any NaN values
df.dropna() # By default, dropna() removes rows containing any NaN values.
df.dropna(how='any')

,name,gender,email
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com

In [ ]:
# dropna() with how=all removes if all rows contains NaN values.
df.dropna(how='all')

,name,gender,email
0,Rohish,NaN,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Smit,NaN,NaN

In [ ]:
# Dropping Rows with NaN Values in Specific Columns
df.dropna(subset=['name'])

,name,gender,email
0,Rohish,NaN,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Smit,NaN,NaN

##### Dropping Columns with NaN Values

In [ ]:
# Drop columns with any NaN values
df.dropna(axis=1)
df.dropna(axis='columns')

""
0
1
2
3
4

In [ ]:
df.dropna(how='all' , axis='columns')

,name,gender,email
0,Rohish,NaN,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Smit,NaN,NaN
4,NaN,NaN,NaN

In [ ]:
df.dropna(how='any',axis='columns')

""
0
1
2
3
4

In [ ]:
df.dropna(subset=['name','email'] ,how='any',axis='index')

,name,gender,email
0,Rohish,NaN,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com

#### Filling NaN Values
You can fill NaN values using the fillna() function.

In [ ]:
# Filling NaN Values with a Constant
df.fillna(0)
df.fillna('values_missing')

,name,gender,email
0,Rohish,values_missing,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Smit,values_missing,values_missing
4,values_missing,values_missing,values_missing

In [ ]:
# You can fill NaN values with the mean, median, or mode of the column.
df.fillna(df.mean())
df.fillna(df.median())
df.fillna(df.mode().iloc[0])

<command-3970698818403416>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())
<command-3970698818403416>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.median())

,name,gender,email
0,Rohish,Female,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Smit,Female,priya@gmail.com
4,Priya,Female,priya@gmail.com

In [ ]:
# Forward fill NaN values
df.ffill()

,name,gender,email
0,Rohish,NaN,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Smit,Female,priya@gmail.com
4,Smit,Female,priya@gmail.com

In [ ]:
# Backward fill NaN values
df.bfill()

,name,gender,email
0,Rohish,Male,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Smit,NaN,NaN
4,NaN,NaN,NaN

In [ ]:
# You can replace NaN values with a specific value using the replace() function.
df.replace(to_replace=np.nan, value=0)

,name,gender,email
0,Rohish,0,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Smit,0,0
4,0,0,0

In [ ]:
# replacing specific column values
df['gender'].fillna(value='new_male', inplace=True)
df

,name,gender,email
0,Rohish,new_male,rohish@gmail.com
1,Rahul,Male,rahul@gmail.com
2,Priya,Female,priya@gmail.com
3,Smit,new_male,NaN
4,NaN,new_male,NaN

### Readind from a clipboard

In [ ]:
#  this code is not working in databicks attached the jupyter notebook code snippet
# clipboard_df = pd.read_clipboard(sep=',')
# clipboard_df

---------------------------------------------------------------------------
PyperclipException                        Traceback (most recent call last)
File <command-3970698818403425>:1
----> 1 clipboard_df = pd.read_clipboard(sep=',')
      2 clipboard_df

File /databricks/python/lib/python3.9/site-packages/pandas/io/clipboards.py:43, in read_clipboard(sep, **kwargs)
     40 from pandas.io.clipboard import clipboard_get
     41 from pandas.io.parsers import read_csv
---> 43 text = clipboard_get()
     45 # Try to decode (if needed, as "text" might already be a string here).
     46 try:

File /databricks/python/lib/python3.9/site-packages/pandas/io/clipboard/__init__.py:659, in lazy_load_stub_paste()
    657 global copy, paste
    658 copy, paste = determine_clipboard()
--> 659 return paste()

File /databricks/python/lib/python3.9/site-packages/pandas/io/clipboard/__init__.py:298, in init_no_clipboard.<locals>.ClipboardUnavailable.__call__(self, *args, **kwargs)
    297 def __call__(self, *args, **kwargs):
--> 298     raise PyperclipException(EXCEPT_MSG)

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit
    https://pyperclip.readthedocs.io/en/latest/#not-implemented-error

**Jupyter Notebook code snippet**

<div style="text-align: center; line-height: 0; padding-top: 9px;">
  <img src="https://raw.githubusercontent.com/rohish-zade/Python/master/python_data_manipulation_and_analysis/Pandas/read_clipboard.png" alt="read_clipboard" style="width: 600px">
</div>